@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  background: rgb(1, 0, 17);
  background: linear-gradient(
    45deg,
    rgba(1, 0, 17, 1) 0%,
    rgba(0, 165, 199, 1) 100%
  );
}
